body{
    background-color: darkgray;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title{
    font-size: 32px;
    font-style: italic;
    color: chartreuse;
}

.post {
    color: darkolivegreen;
}